<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>StudyTime</title>
</head>
<body>
    <h1>Welcome to intense study time!</h1>
    <div id="stopwatch">
        <h2>Pomodoro</h2>
        <h2 id="studyTitle">Study Time</h2>
        <div>
            <button id="infinite">Infinite</button>
            <button id="count_down">Count down</button>
        </div>
        <div id="count_down_buttons">
            <button id="increase_time">+</button>
            <button id="decrease_time">-</button>
        </div>
        <p id="time_value">25 : 00</p>
        <button id="start_timer">Start</button>
        <button id="stop_timer">Stop</button>
        <button id="reset_button">Reset</button>
    </div>

    <script type= 'module' src="/js/script.js"></script>
</body>
</html>